<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>Купи Mac!</title>
  <meta name="description" content="Landing page for KupiMac. Coming soon. Whatever.">
  <%= favicon_link_tag 'general/favicon.ico' %>

  <!-- Mobile Specific Metas
================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS Stylesheets
================================================== -->
  <%= stylesheet_link_tag 'application', "data-turbolinks-track" => true %>

  <!--[if lt IE 9]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- JavaScript
================================================== -->
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>

</head>
<body>

<header id="head">

  <div class="inner">
    <a href="#" class="logotext square"><h1>Купи Mac!</h1></a>

    <div class="details right">

      <div class="message">
        <!-- Fading text. See core.js for list of words. -->
        <p class="large">Всегда хотел купить почти новый Mac?..</p>

        <p class="medium">... но мониторить Авито &laquo;24/7&raquo; в ожидании сказочного предложения нет ни сил, ни
          желания?</p>

        <!-- Static text -->
        <p class="large">Мы готовы сделать это за тебя, дружище!</p>

        <%# <%= form_tag do %1> %>
        <%#   <%= text_field_tag :email %1> %>
        <%#   <%= submit_tag "Сообщить о запуске!" %1> %>
        <%# <% end %1> %>
      </div>
    </div>
  </div>

</header>

<section class="body">
  <div class="inner">
    <div id="extra">
      <div class="block">
        <h2 class="heading">
            <span class="left">
                <strong>О чем мы тут толкуем?</strong>
            </span>
        </h2>

        <ul class="features">
          <li class="text">
            <p>
              <strong>Во-первых</strong>
              Выбери интересующий тебя девайс.
            </p>
          </li>

          <li class="image">
            <%= image_tag 'landing/choosemac.png' %>
          </li>

          <li class="text">
            <p>
              <strong>Во-вторых</strong>
              Назначь цену сам.
            </p>
          </li>

          <li class="image">
            <%= image_tag 'landing/chooseprice.png' %>
          </li>

          <li class="text">
            <p>
              <strong>Во-третьих</strong>
              Укажи свои контакты.
            </p>
          </li>

          <li class="image">
            <%= image_tag 'landing/typemail.png' %>
          </li>

          <li class="text">
            <p>
              <strong>Это все.</strong>
              Как только мы узнаем о походящем предложении, мы сразу же сообщим.
              Тебе остается только позвонить и договориться о покупке.
            </p>
          </li>

          <li class="image">
            <%= image_tag 'landing/happy.png', height: 192, width: 208%>
          </li>
        </ul>

        <h2 class="heading centered">
          У нас пока еще не все готово, но мы запустимся в самое ближайшее время.
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="social">
  <ul>
    <li class="twitter">
      <span class="button">
        <%= render 'twitter_button' %>
      </span>
    </li>

    <li class="facebook">
      <span class="button">
        <%= render 'facebook_button' %>
      </span>
    </li>

    <li class="googleplus">
      <span class="button">
        <%= render 'googleplus_button' %>
      </span>
    </li>
  </ul>
</section>
</body>
</html>
